<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"  type='text/css'>
    <title>{{name}}'s Watchlist</title>
</head>
<body>
    <h2>{{ name }}'s Wathclist</h2>
    <img class="avatar" src="{{ url_for('static',filename='images/avatar.png') }}">
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
    {# 这是一个注释，最终不会带入返回页面 #}
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <footer>
        <img class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}">
        <small>&copy; 2019 <a href="http://www.baidu.com">Baidu</a></small>
    </footer>
</body>
</html>